body {
  background-color: #9E9E9E;
  font-family: 'Geneva', Verdana, sans-serif;
}

#form-container {
  padding: 50px;
  text-align: center;
}

form {
  display: inline;
  margin: 0 auto;
  padding: 10px;
}

#sub_category {
  border-radius: 5px;
  outline: none;
  padding: 10px 35px;
}

#sub_category:focus {
  background-color: #cccccc;
  transition: 0.1s;
}

.select-btn {
  background-color: #000;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-weight: bolder;
  margin: 40px 25px;
  opacity: 0.5;
  outline: none;
  padding: 10px 15px;
  transition: 0.3s;
}

.select-btn:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.3s;
}

.select-btn:active {
  background-color: #9E9E9E;
  color: #000;
}

@media screen and (min-width: 480px) {
  form {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  #form-container {
    margin: 0 auto;
    padding: 15px;
    width: 75%;
  }
  form {
    width: 45%;
  }
}

@media only screen and (min-width: 992px) {
  form {
    width: 30%;
  }
}